
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Open+Sans&display=swap');

html {
    background-image: url("ricknmortyspace.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
;


}
.App {
    color: white;
    font-size:25px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #09d3ac;
}

.boardSize {
 
    border: 5px solid #555; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px; 
}

.grid {
    min-height: 75px;
    min-width: 75px;
    height: 90vmin;
    width:90vmin;
    max-height: 400px;
    max-width: 400px;
    margin: auto;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(3,1fr);
}

.box {
    border: 1px solid #fff
}

.face{
    max-height: 100px;
    max-width: 100px;
    justify-content: center;
    align-self: center;
}


#resetButton {
    margin-top: 2%;
    background-size: cover;
    padding: 10px;
    font-weight: bold;
    color: black;
    ;
}


.header{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 90px;
    color: white;
}

#box { 
    border: 5px solid #555; 
}